body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eff7cf;
  font-size: 35px;
  font-family: "roboto";
  color: #aba361;
}

#title {
  font-weight: bold;
  margin: 10px;
}

.scanner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#reader {
  width: 90%;
  border: solid 2px #bad9b5;
  border-radius: 10px;
  margin: 10px;
}

#subtitle {
  font-weight: bold;
  width: 85%;
  text-align: center;
  background-color: #bad9b5;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#result {
  width: 85%;
  overflow-x: hidden;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.808);
  margin-bottom: 20px;
}

#plain-text {
  width: 85%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.808);
  margin-bottom: 20px;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 85%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.808);
  margin-bottom: 20px;
}

#bolder-text {
  font-weight: bolder;
}

.button-container {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  width: 45%;
  height: 70px;
  font-size: 35px;
  background-color: #bad9b5;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-family: "roboto";
  cursor: pointer;
}

.people-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-height: fit-content;
  width: 85%;
  height: 200px;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.808);
}
